.control {
  padding: 0;
  margin: 0;
  
  &__item {
    padding: 14px 20px;
    background-color: #303030;
    border: 1px solid #555;
    list-style: none;
  }

  .indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 15px;
    border-radius: 50%;
    -webkit-transition: .1s;
    transition: .1s;
    background-color: #666;
  }
}

.control__wrapper {
  width: 100%;
  max-width: 420px;
}