$background-color: #008966;
$border-color: #007c5d;
$active-link: #00bc8c;

.nav {
  border-radius: 10px;
  background-color: $background-color;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  overflow: hidden;

  &__link {
    flex: auto;
    text-align: center;
    padding: 8px 12px;
    color: white;
    list-style: none;
    
    &_active {
      background-color: $active-link;
    }
  }
}
